<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="../Content/js/password.js"></script>
<link rel="stylesheet" href="../Content/css/styles.css" >


<body class="coffeeshop">
  <div class="cool centered">
    <h1 class = "label">LOGIN</h1>
    <form class="signInForm">
      <input class="input" type="text" placeholder="Email">
      <input class="input" type="password" placeholder="Password">
    </form>
        <form class="signUpForm">
          <input class="input" type="First" placeholder="First Name">
          <input class="input" type="Last" placeholder="Last Name">
           <input class="input" type="Address" placeholder="Address">
      <input class="input" type="text" placeholder="Email">
      <input class="input" type="password" placeholder="Password">
    </form>
      <button class="button signIn">Log In</button>
      <button class="button signUp">Sign Up</button>
  </div>

</body>
