<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://bootswatch.com/readable/bootstrap.min.css" >
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Noto+Sans'  type='text/css'>
    <link rel="stylesheet" href="../Content/css/styles.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>
    <script src="../Content/js/stupidTable.js"></script>
    <script src="Content/js/scripts.js"></script>
  </head>
  <body>
    <section class="module parallax parallax-1">
      <div class="container">
        <h1 id="brand"></h1>
      </div>
    </section>

    <section class="module content">
      <div class="container section-container">

    <h1>student name</h1>

    </form>
    <hr>
    <form class="form-inline" action="/add" method="post">
      <div class="form-group">
        <label for="fname">First Name:</label>
        <input type="text" class="form-control" id="fname" name="fname">
      </div>
      <div class="form-group">
        <label for="lname">Last Name:</label>
        <input type="text" class="form-control" id="lname" name="lname">
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>
      <div>
        <label for="picture">Picture file name:</label>
        <input type="url" class="form-control" id="picture" name="picture">
      </div>
      <div>
        <label for="startDate">Start Date:</label>
        <input type="date" class="form-control" id="startDate" name="startDate">
      </div>
      <button type="submit" class="btn btn-default">Update This Student</button>
    </form>
  </section>


    <section class="module parallax parallax-1">
      <div class="container">
        <h1 id="brand"></h1>
      </div>
    </section>

    </div>



    <div class="container section-container">


    <h/>
    <h2>Courses</h2>
    <table class="stupid">
      <thead>
        <tr>
          <th data-sort="string">Course Name</th>
          <th data-sort="string">Course Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Course Name</td>
          <td>Course Status</td>
        </tr>
        <tr>
          <td>dCourse Name</td>
          <td>dCourse Status</td>
        </tr>
        <tr>
          <td>aCourse Name</td>
          <td>zCourse Status</td>
        </tr>
      </tbody>
    </table >
    <br>

    <h2>projects</h2>
    <table class="stupid">
      <thead>
        <tr>
          <th data-sort="string">Course Name</th>
          <th data-sort="string">Course Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>projectA Name</td>
          <td>projectA Date</td>
        </tr>
        <tr>
          <td>projectB Name</td>
          <td>projectB Date</td>

        </tr>
        <tr>
          <td>projectC Name</td>
          <td>projectC Date</td>
        </tr>
      </tbody>
    </table >


    </div>

    </section>
    <section class="module parallax parallax-1">
      <div class="container">
        <h1 id="brand"></h1>
      </div>
    </section>


  </body>
</html>
