/**********************************
***For Parralax
***********************************/

section.module.parallax {
  height: 200px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax h1 {
  font-family: 'Permanent Marker', cursive;
  color: rgba(255, 255, 255, 0.8);
  font-size: 70px;
  line-height: 120px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
  background-image: url("https://static1.squarespace.com/static/5524448ee4b0d6f6b83ab9e2/t/5554e1d9e4b0f33dbaf8d031/1431626275703/DSC00085.JPG?format=1500w");
}

section.module.content{
  margin-top: 30px;
  margin-bottom: 60px;
}

.picture {
  width:100px;
  border-radius:10px;
}
.pictureOnStudentPage {
  border-radius:20px;
  height:150px;
}

.container2{
  width:400px;
}
.jb-button-style {
margin-top: 20px;
}
.jb-button-style2 {
margin-top: 75px;
}

.jbtitle {
text-shadow:1px 1px 2px rgba(3,2,10,1);
font-weight:normal;color:#000000;
letter-spacing:2pt;
word-spacing:11pt;
font-size:56px;
font-family:tahoma, verdana, arial, sans-serif;
line-height:1;
margin-top: 75px;
}

.jb-title-subtitle {
  margin-bottom: 50px;
  margin-top: -25px;
  margin-left: 90px;
}

.epicodusTitle {
text-shadow:3px 3px 9px rgba(3,2,10,1);font-weight:normal;
color:#191A1C;
letter-spacing:2pt;
word-spacing:11pt;
font-size:84px;
text-align:left;
font-family:tahoma, verdana, arial, sans-serif;
line-height:1;
margin-top: 10px;
margin-bottom: 20px;
}

.jb-float-left {
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 40px;
}

.meduim-spacer {
  height: 50px;
}


/**********************************
***For Hero Image
***********************************/
/*body{ margin:0px 0px; }

#hero{
  background-image:url(https://static1.squarespace.com/static/5524448ee4b0d6f6b83ab9e2/t/5554e1d9e4b0f33dbaf8d031/1431626275703/DSC00085.JPG?format=1500w);
  background-size:cover;
  position:relative;
  height:100vh;
}

.header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:36px;
  -ms-transform: translate(0,-50%); /* IE 9 */
    /*-webkit-transform: translate(0,-50%); /* Safari */
    /*transform: translate(0,-50%);*/
/*}

.content{
  padding:100px 50px;
  text-align:center;
  width:80%;
  margin:0px auto;
}

.content h2{
  margin:0px 0px 30px 0px;
}*/

/**********************************
***Pop Up Slider
***********************************/
#slide_background, {
  transition: all 0.3s 0.3s;
}
#slide,
#slide_wrapper {
  transition: all 0.3s ease-out;
}
#slide {
  transform: translateX(0) translateY(-40%);
  background-color: rgba(255,255,255,1);
  border-radius: 40px;
  margin: 100px;
  padding: 20px;
}
.popup_visible #slide {
  transform: translateX(0) translateY(0);
}

#slide1_background, {
  transition: all 0.3s 0.3s;
}
#slide1,
#slide1_wrapper {
  transition: all 0.3s ease-out;
}
#slide1 {
  transform: translateX(0) translateY(-40%);
  background-color: rgba(255,255,255,1);
  border-radius: 40px;
  margin: 100px;
  padding: 20px;
}
.popup_visible #slide1 {
  transform: translateX(0) translateY(0);
}

#slide2_background, {
  transition: all 0.3s 0.3s;
}
#slide2,
#slide1_wrapper2 {
  transition: all 0.3s ease-out;
}
#slide2 {
  transform: translateX(0) translateY(-40%);
  background-color: rgba(255,255,255,1);
  border-radius: 40px;
  margin: 100px;
  padding: 20px;
}
.popup_visible #slide2 {
  transform: translateX(0) translateY(0);
}

#slide4_background, {
  transition: all 0.3s 0.3s;
}
#slide4,
#slide1_wrapper4 {
  transition: all 0.3s ease-out;
}
#slide4 {
  transform: translateX(0) translateY(-40%);
  background-color: rgba(255,255,255,1);
  border-radius: 40px;
  margin: 100px;
  padding: 20px;
  width: 550px;
}
.popup_visible #slide4 {
  transform: translateX(0) translateY(0);
}
/**********************************
***Pop Up Slider
***********************************/
.ChartContainer {
  width: 300px;
  float: left;
}

/**********************************
*** Table styling
***********************************/
.stupid table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	/*width: 300px;*/
}

.stupid th {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;
}

.stupid th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

.stupid th:first-child {
	border-left: 1px solid #777;
	box-shadow: inset 1px 1px 0 #999;
}

.stupid th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

.stupid td {
	border-right: 0px solid #fff;
	border-left: 0px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

/**********************************
*** For easyTable
***********************************/

/*
 Table plugin for jQuery
 Copyright (c) 20016 Gabriel Rodrigues e Gabriel Leite (http://gabrielr47.github.io/)
 Licensed under the MIT license
 Version: 0.1
*/
/*
.easyTable {
  outline: none;
}

.easyTable tbody tr {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#easyMenuTable button {
  margin: 5px;
  border-radius: 25px;
  outline: none;
}

.easyTable thead {
  cursor: pointer;
  display: block;
  margin: 0px;
  cell-spacing: 0px;
  left: 0px;
}

.easyTable tbody {
  display: block;
  overflow: auto;
}

.easyTable th {
  height: 20px;

}

.easyTable td {
  height: 20px;
  width: auto;
  margin: 0px;
  cell-spacing: 0px;
}*/


/*password............................................................*/


@import url(https://fonts.googleapis.com/css?family=Merriweather);

.coffeeshop { background: url(https://unsplash.it/1920/1080?image=42) no-repeat center center fixed; background-size: cover;font-family: 'Merriweather', serif;}

.cool{
   text-align: center;
  background: fade(#6A9E98, 40%);
  padding: 30px;
          -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
  border: solid 1px #236A62;
  max-width: 400px;
}

.cool h1{
  color: #236A62;
}

.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input{
  width: 100%;
  min-width: 220px;
  text-align: center;
  min-height: 30px;
  margin: 5px;
}

.button{
  background: fade(#e3b067, 50%);
  color: @tertiary;
  width: 100px;
  margin: 5px;
  height: 40px;
      -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
  border: solid 1px #236A62;
}

.button:hover{
  background: #e3b067;
}

.textCenter{
  text-align: center;
}

.return {
  text-align: center;
}
